@import url(../style.css);

/* ---------------------------- PURPOSE SECTION ---------------------------- */

#ourpurpose-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.about-satori img {
  width: 300px;
}

.about-content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-content h2 {
  font-family: "Instrument Serif", serif;
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--secondary-color);
  font-weight: 300;
}

#about-btn {
  background-color: var(--secondary-color);
  color: var(--background-color) !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 1rem 2rem;
}

#about-btn:hover {
  background-color: #2e2e2e;
}

.embrace-satori {
  background-color: var(--primary-color);
  padding: 6rem 5rem;
  text-align: center;
}

.embrace-satori h2 {
  font-family: "Instrument Serif", serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  letter-spacing: 2px;
}


.embrace-satori img {
  width: 200px;
}

.purpose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.purpose-card {
  background-color: var(--background-color);
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 4px 12px #00000014;
  text-decoration: none;
}



.purpose-img {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.purpose-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.purpose-content {
  padding: 1.5rem;
  text-align: left;
}

.purpose-content h3 {
  font-size: 1.3rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  text-align: left;
}

.purpose-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 0.6rem;
}

/* ---------------------------- FOUNDERS SECTION ---------------------------- */
.founders-section {
  background-color: var(--background-color);
  color: var(--secondary-color);
  padding: 6rem 5rem;
}

.founders-section h2 {
  font-family: "Instrument Serif", serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.founder-row {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
}

.founder-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 2px 4px 12px #00000014;
}

.founder-content h2 {
  font-size: 3rem;
  font-family: "Instrument Serif", serif;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.founder-content p {
  line-height: 1.7;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

/* ---------------------------- TESTIMONIALS SECTION ---------------------------- */

.slideshow-container {
  position: relative;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.mySlides {
  display: none;
  max-width: 800px;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

q {
  font-family: "Instrument Serif", serif;
  font-size: 1.6rem;
  line-height: 1.8;
  font-style: italic;
  display: block;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

.participant {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: var(--primary-color);
  padding: 16px;
  user-select: none;
  transition: color 0.3s ease;
}

.prev {
  left: 5rem;
}

.next {
  right: 5rem;
}

.prev:hover,
.next:hover {
  color: var(--secondary-color);
}

.dot-container {
  text-align: center;
  padding: 1rem;
}
.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

.active,
.dot:hover {
  background-color: var(--secondary-color);
  opacity: 1;
}
